<% include header %>
<body>
    <h1>DefectDeflect</h1>
    <form name="form1" method="POST" action="/reverse">
    <table>
        <tr>
        <td>First String</td>
        <td><input type="text" name="fstring" ></td>
        </tr>
        <tr>
        <td>last String</td>
        <td><input type="text" name="lstring" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    
    </form>   
    <% if(userValue!=null){ %>
        <!--<div> Reversed String: <%= userValue.first %>  <%= userValue.last %> </div>-->
    <%}%> 
    <button type="button" onclick="location.href='debug' ">Confirm</button>
    <a href="debug">Debug</a>
</body>
<% include footer %>