<% include header %>
<body>
    <h1><%= topicHead %></h1>
    <form name="form1" method="POST" action="/reverse">
    <table>
        <tr>
        <td>First name</td>
        <td><input type="text" name="fstring" ></td>
        </tr>
        <tr>
        <td>last name</td>
        <td><input type="text" name="lstring" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    
    </form>   
    <% if(userValue!=null){ %>    
        <div> Reversed String: <%= userValue.first %>  <%= userValue.last %> </div>
    <%}%> 
</body>
<% include footer %>